#new{

	border:black solid;

}

h1:hover{

color:green;
background-color: yellow;

}

* {

	box-sizing: border-box;
}

body {

	background-color: white;
}



#god {

	margin-top: 20px;
}

.nav-link{

	color:black;
}

#yeyo{

	border:black 2px solid;
	padding:5px;
	margin: 40px 0px 0px 0px;
}
