#new{

	border:black solid;

}

h1:hover{

color:green;
background-color: yellow;

}

* {

	box-sizing: border-box;
}

body {

	background-color: white;
}

.navbar-toggler-icon{
background-image: url("eee.jpg") !important;
width:150px;
height:50px;
}

.navbar-brand {

	background: url(jjabrams.jpg) no-repeat;

}

#god {

	margin-top: 20px;
}

.nav-link{

	color:black;
}
